<mat-sidenav-container [ngClass]="{'darkTheme': isDark}">
  <mat-sidenav mode="over" #sidenav>
    <app-sliderbar ></app-sliderbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class='site'>
      <header>
        <app-header (darkToggle)='themeToggle($event)' (navToggle)='sidenav.toggle()'></app-header>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>